{% extends "base.html" %}

{% block title %}Elec35{% endblock %}

{% block body %}
	<div style="height:100vh;width:100vw;background:#000">
		<img src="/img/profile.png" alt="profile" class="img-fluid">
		<div class="container">
			<div class="row p-2">
				<div class="col"></div>
				<div class="h1 text-white">
					ELECRICITAL ENGINEERING ⚡
				</div>
				<div class="h3 text-white">
					BATCH 35
				</div>
				<div class="text-white" style="text-indent:20px">
					this website has been maded to help all electricital engineers
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}